/*

!! Pallet color !!

#921A40
#C75B7A
#D9ABAB
#F4D9D0

*/

.img-fachada {
    margin: 20px;
    padding: 30px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-color: #c75b7a;
}

.img-fachada img {
    border-radius: 5px;
    width: 50%;
    outline: 5px solid #921A40;
}

.img-fachada .text {
    width: 50%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-color: #921A40;
}

.img-fachada .text p {
    width: 50%;
}
